
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

header {
    background-color: #00698f;
    color: #fff;
    padding: 1em;
    text-align: center;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

footer {
    background-color: #00698f;
    color: #fff;
    padding: 1em;
    text-align: center;
    clear: both;
}