/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  /* ... */
}

/* Header Styles */
header {
  background-color: #7226f5;
  color: #fff;
  padding: 1em;
  text-align: center;
  margin-bottom: 1em;
}

#course-title {
  display: block;
  font-size: 1.5em;
  margin-bottom: 0.5em;
}

nav {
  display: flex;
  justify-content: space-around;
}

nav a {
  color: #fff;
  text-decoration: none;
  transition: color 0.2s ease 0.2s;
}

nav a:hover {
  color: #ccc;
}

/* Main Content Styles */
main {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2em;
}

.card {
  background-color: #d1b4b4;
  padding: 1em;
  border: 1px solid #3f3d3d;
  border-radius: 0.5em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 100%;
  height: auto;
  margin-bottom: 1em;
}

/* Footer Styles */
footer {
  background-color: #5437e8;
  color: #fff;
  padding: 1em;
  text-align: center;
  clear: both;
}

/* Responsive Design */
@media (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
  }
}

